<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submitted</title>
</head>
<body>
    <div class="container">
        <h2>Form Submitted</h2>
        <p><strong>Name: </strong> <%= name %></p>
        <p><strong>Message: </strong> <%= message %></p>
        <p<a href="/"></a>>Go Back</p>
    </div>
</body>
</html>