.card {
    border: 0.8px solid gainsboro;
    text-align: center;
    transition: transform 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.2);
}

button {
    display: flex;
    justify-content: right;
    background-color: rgb(20, 199, 20);
    color: aliceblue;
}

button:hover {
    background-color: green;
}