.parentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 500px;
  border: 1px solid black;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, 0.5);
}

.container label {
  text-align: left;
  margin: 4px;
  text-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
  font-weight: 700;
}

.container h1 {
  text-align: center;
}

.ReviewButton {
  background-color: teal;
  color: white;
  transform: scale(1.08);
  width: 91%;
  margin: 25px auto;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input{
  margin: 15px auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border: 1px solid black;
  background-color:azure;
}

.ReviewButton:hover{
  transition: transform 0.3s ease-in-out;
  background-color: green;
}

.error{
  color: red;
  text-align: left;
}

.success{
  color: green;
  text-align: center;
  font-weight: 500;
  font-style: oblique;
  margin: 15px;
  padding: 10px;

}

